.link {
  color: #007aff;
  font-weight: 500;
  margin: 0.3rem 0;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s;

  &:hover {
    color: #004aad;
    text-decoration: underline;
  }
}
